instructor~=1.5.2
openai~=1.51.2
python-dotenv~=1.0.1
requests~=2.32.3
flask~=3.0.3
flask-cors~=4.0.1
flask-session~=0.8.0
pydantic~=2.9.2
pydantic[email]~=2.9.2
attrs~=23.2.0
tomli~=2.0.1
redis~=5.1.0
fakeredis~=2.25.1
pytest~=8.3.3
pytest-postgresql~=6.1.1
python-keycloak~=4.7.3
sqlalchemy~=2.0.36
psycopg2~=2.9.10
python-jose~=3.3.0
tenacity~=8.5.0
unstructured~=0.16.0
pandas~=2.2.3
pydantic_core~=2.23.4
folium~=0.18.0
playwright~=1.48.0
numpy~=1.26.4